CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_DATABASE_ID=
R2_BUCKET_NAME=jitori-storage
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

PUBLIC_AUDIO_BASE_URL=https://jitori-storage.davidmartins.net
PUBLIC_STORAGE_ENCRYPTION_KEY=jitori-local-dev-key
